
    <style>
        img{
            height: 50px;
            width: 100px;
        }
    </style>
    
        
    <h1><%= @question.answer %></h1>
    <img src='<%= @question.flag %>'>
    <a href='game/go'>Next Question</a>
    
    
