<style>
    div{
        padding: 10px;
    }
</style>

<h1>Home Page</h1>

<div>
    <form action='contacts/results' method='POST'>
    <input type='text' name='result' placeholder='Search Contacts'>
    <input type='submit' value='Go'>
    </form>
</div>

<div><a href='/contacts/new'>Create New Contact</a></div>
<div><a href='/contacts'>View All Contacts</a></div>
