<style>
    div{
        padding: 10px;
    }
</style>

<h1>Home Page</h1>

<div>
<%= form_for(contacts_path, method: :get) do %>
<%= text_field_tag :result, params[:result], placeholder: 'Search Contacts' %> 
<%= submit_tag 'Go'%>
<% end %>

</div>

<div><a href='/contacts/new'>Create New Contact</a></div>
<div><a href='/contacts'>View All Contacts</a></div>
