<form action='/brands/update' method='POST'>
    <input type='hidden' name='id' value='<%= @edit.id %>'>
    <input type='text' name='name' value='<%= @edit.name %>'>
    <input type='text' name='country' value='<%= @edit.country %>'>
    <input type='submit' value='Save'>
</form>