<form action='/brands/create' method='POST'>
    <div><input type='text' name='name' placeholder='Name'></div>
    <div><input type='text' name='country' placeholder='Country'></div>
    <div><input type='submit' value='Save'></div>
</form>