<form action='/courses' method='POST'>
    <div><input type='text' name='name' placeholder='Course Name'></div>
    <div><input type='text' name='location' placeholder='Course Location'></div>
    <div><textarea name='description'></textarea></div>
    <div><input type='submit' value='Save'></div>
</form>

<a href='/courses'>Cancel</a>