<style>
    div{
        padding: 10px;
    }
</style>

<form action='/results' method='POST'>
    <input type='text' name='result' placeholder='Search Contacts'>
    <input type='submit' value='Go'>
</form>

<div><a href='/create'>Add New Contact</a></div>
<div><a href='/all'>All Contacts</a></div>
